<footer>
    <div class="footer-container">
        <div class="footer-left">
            <p>© 2024 Báo Điện Tử - Tất cả quyền lợi được bảo vệ</p>
        </div>

        <!-- Liên kết tới các trang quan trọng -->
        <div class="footer-middle">
            <ul>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Quy chế hoạt động</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Tin tức mới nhất</a></li>
                <li><a href="#">Hướng dẫn sử dụng</a></li>
            </ul>
        </div>

        <!-- Các lk mạng xã hội -->
        <div class="footer-right">
            <ul>
                <li><a href="#" class="social-icon"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                <li><a href="#" class="social-icon"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="#" class="social-icon"><i class="fab fa-youtube"></i> YouTube</a></li>
                <li><a href="#" class="social-icon"><i class="fab fa-instagram"></i> Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- biểu tượng mạng xã hội -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
