* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
}

/* Header */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 40px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-content .logo {
    width: 70px;
    border-radius: 15px;
}

.header-content .weather-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ddd;
    font-size: 16px;
}

.header-content input[type="search"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.header-content button {
    padding: 5px 10px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-content button:hover {
    background-color: #e14d2a;
}

.header-content h4 {
    font-size: 16px;
    margin: 0;
}

/* Navigation bar */
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 10px 0;
    justify-content: space-evenly;
    background-color: #444;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li a:hover {
    color: #FF5733;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #FF5733;
}

/*footer*/
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left p {
    margin: 0;
    font-size: 12px;
}

.footer-middle ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-middle ul li {
    margin-right: 20px;
}

.footer-middle ul li a {
    color: white;
    text-decoration: none;
}

.footer-middle ul li a:hover {
    text-decoration: underline;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-right ul li {
    margin-left: 20px;
}

.footer-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-right ul li a:hover {
    color: #ccc;
}

.social-icon {
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #1da1f2; /* Màu Twitter khi hover */
}